/* body {
    width: 100%;
    height: 100%;
    background: #fff;
    color: #1c1e21;
    margin: 0px 0 10px 0;
    padding: 15px;
    text-align: center;
} */

.menu_image {
   
    border-width: 5px;
    border-color: rgb(0, 162, 255);
    width: 100%;
    height: 85%;
    border-style: ridge;
    vertical-align: middle;
    justify-items: center;
    align-items: center;
}

.container-fluid {
    margin-top: 12px;
    text-align: center;
}
.adddishes {
    text-align: right;
}

.cancel {
    text-align: left;
}

.omega {
    text-align: left;
    width: 191px;
    height: 161px;
}

.type_button {
    padding-left: 12cm;
}
